# all shiny apps
shinycssloaders
shinyjs
DT
tidyverse

# python shiny apps
reticulate

# gudhi-viz
plotly
Rcpp

# pandemic
ggplot2

# all rmd apps
rmarkdown

# teachr
learnr
datacamp/testwhat
devtools
skimr
tidymodels
