# all shiny apps
shinycssloaders
shinyjs
DT
tidyverse

# python shiny apps
reticulate

# gudhi-viz
plotly
Rcpp

# all rmd apps
rmarkdown
kableExtra

# teachr
learnr
datacamp/testwhat
devtools
skimr
janitor
tourr
tidymodels
