# all shiny apps
shinycssloaders
shinyjs
DT
tibble

# python shiny apps
reticulate

# pandemic
ggplot2

# gudhi-viz
Rcpp

# all rmd apps
rmarkdown

# teachr
rstudio-education/learnr
astamm/teachr
datacamp/testwhat
tidyverse
rlang
lobstr
microbenchmark
janitor
